//Fonts

$cormorant: 'Cormorant Upright', serif;
$courgette: 'Courgette', cursive;
$kurale: 'Kurale', serif;
$lobster: 'Lobster', cursive;
$suranna: 'Suranna', serif;


//Colors
$text-color:rgb(27, 37, 21);

//Mixins
